services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: tasktracker
    ports:
      - '5432:5432' # откроем наружу для локальной разработки
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U app -d tasktracker']
      interval: 3s
      timeout: 3s
      retries: 10

  redis:
    image: redis:7
    command: ['redis-server', '--appendonly', 'yes']
    ports:
      - '6379:6379'
volumes:
  pgdata:
